@font-face {
	font-family: "USSF90MinDisplay";
	font-weight: 500;
	src: url("../styles/assets/fonts/USSF-90-Min-Display-Medium.woff2") format("woff2"), url("../styles/assets/fonts/USSF-90-Min-Display-Medium.woff") format("woff"), url("../styles/assets/fonts/USSF-90-Min-Display-Medium.ttf") format("truetype")
}

.bracket {
    justify-content: left;
    width: 100%;

    // 1.6EM-MED
    font-family: 'USSF90MinDisplay';
    font-style: normal;
    font-weight: 500;
    font-size: 19.2px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    .column {
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        min-width: 50rem;
        padding: 0.5rem;
        width: 100%;
    }

    th {
        background-color: #E6E6E6;
    }

    .match {
        display: flex;
        flex: 1;
        padding: 2rem 0;
    }

    .id {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
    }

    .teams {
        min-width: 45rem;
    }

    .team {
        border-bottom: 2px solid #151928;
        display: flex;
        flex: 1;
        justify-content: center;
        padding: 1rem;
    }

    .team2 {
        border-right: 2px solid #151928;
    }

    button {
        appearance: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        width: 100%;
    }

    button {
        padding: 0.5rem 1rem;
        color: #333;
    }

    button:hover {
        background-color: #E6E6E6;
    }
    
    /* Add additional styles for selected buttons */
    button.selected {
        /* Add your custom styles for selected buttons */
        background-color: #ccc;
    }
}

